.home,
.aboutMe {
  background-color: #6B3C0F;
  text-align: center;
  height: 800pt;
  justify-content: center;
}

.title{
    font-size: 60px;
    color: #B5A440;
    font-weight: bolder;
}
.paragraph{
    font-size: 1rem;
    text-align: center;
    color: #d5dce6;
    width: 70%;
    margin-left: 15%;
    
}
.GameCard{  
    height:40%;
    margin: 0 220px;
    background-color: #181A1B;
}
.contentCard{
    height:60%;
    margin: 0 220px;
    background-color: #181A1B;
}
.center{
    text-align: center;
    align-items: center;
}
.aling-Left{
    text-align: left;
    align-items: left;
}